/* overall website styling theme */
body{
    margin: 0;
    background-color: white;
}

header{
    font-family: "Helvetica Neue";
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 1rem;
}

footer {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
}

.menu {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 30px;
    font-size: 38px;
    text-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}

.profile {
    color: white;
    position: absolute;
    top: 10px; 
    right: 10px; 
    margin: 10px 25px;
    font-size: 35px;
    text-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}

body {
    background-image: url("../img/bg_default.jpg");
    background-size: cover;
}

.mood-button:hover {
    background-color: #000;
    color: #FFF;
}

.mood-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 18px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: relative;
    left: 250px;
    top: 70px;
}

.merch-button:hover {
    background-color: #000;
    color: #FFF;
}

.merch-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 18px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: relative;
    left: 130px;
    top: 500px;
}

.quiz-button:hover {
    background-color: #000;
    color: #FFF;
}

.quiz-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 18px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: relative;
    left: 980px;
    top: 520px;
}


.review-button:hover {
    background-color: #000;
    color: #FFF;
}

.review-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 18px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: relative;
    left: 390px;
    top: 330px;
}
