/* overall website styling theme */
body{
    margin: 0;
    background-color: white;
}

header{
    font-family: "Helvetica Neue";
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
    text-align: center;
    font-size: 35px;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: 20px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 30px;
    font-size: 38px;
    text-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}

.profile {
    position: absolute;
    top: 10px; 
    right: 10px; 
    margin: 10px 25px;
    font-size: 35px;
    text-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}


/* album image */
.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drake-album2 {
    display: block;
    margin-left: auto;
    margin-right: 5rem;
    max-width: 100%;
    width: 45%;
    border-radius: 8px;

}

.img-caption {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    margin-top: 2rem;
}


/* overall container styling */
.review-container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    background-color: #FAF9F6;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}


/* icons styling */
.left, .right {
    font-size: 50px; 
    padding: 1.5rem;
    text-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}

.checkbox {
    text-align: left;
}


/* question containers styling */
.flex-container-quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
  }
  
  
.flex-container-quiz>div {
    flex: 0 0 200px;
    background-color: white;
    padding: 0rem 0rem 0rem 0rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  }

#check {
    text-align: left;
}


/* h1 and title */
h1, .question-number {
    font-family: "Helvetica Neue";
    font-size: 18px;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px grey;
    letter-spacing: .10em;
    text-align: center;
}





