/* overall website styling theme */
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    background-image: url("../public/img/bgs/bg_default.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: none; 
}

header{
    font-family: "Helvetica Neue";
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 1.5rem;
    padding-bottom: .5rem;
    text-decoration: none;
    position: relative;
    width: 100%;
}

footer {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

span.profile.material-icons {
    color: white;
    position: absolute;
    top: 20px; 
    right: 10px; 
    margin: 10px 25px;
    font-size: 40px;
    text-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}

h1, h2 {
    font-family: "Helvetica Neue";
    font-size: 18px;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px grey;
    letter-spacing: .10em;
}

/* navigation bar */

.nav-container {
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-container a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-shadow: 2px 2px 2px grey;
    font-family: "Helvetica Neue";
    letter-spacing: .1em;
    padding: .5rem 3rem;
}

/* overall container styling for review/rate, sign-in, and mood pages */

.review-container, .signin-container, .selector-container, .confirmation-container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    background-color: #FAF9F6;
    margin: 5rem auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
}


/* review and rate page inner containers styling */

.review-input, .rate-input, .other-reviews {
    display: block;
    flex: 0 0 30px;
    background-color: #eee;
    margin: .5rem;
    padding-bottom: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

/* user input field for review and rate page styling */

.rate-inputfield {
    display: block;
    flex: 0 0 30px;
    background-color: white; 
    margin: 0.5rem;
    padding: 0.1rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.review-inputfield {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

textarea#review-text.form-control {
    resize: none; 
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    width: 610px ;
}

.review-list {
    font-family: "Helvetica Neue";
    font-weight: 350;
    font-size: 15.5px;
    padding: .15rem;
    letter-spacing: .05em;
}

.review-albumname {
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .05em;
}

p.submission-message {
    font-family:  "Helvetica Neue";
    font-size: 16px;
    font-weight: 450;
    font-style: italic;
    text-align: center;
    margin-left: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    color: rgb(8, 123, 8);
}

p.error-message {
    font-family:  "Helvetica Neue";
    font-size: 16px;
    font-weight: 450;
    font-style: italic;
    text-align: center;
    margin-left: .5rem;
    margin-top: .4rem;
    margin-bottom: .2rem;
    color: red;
  }
/* text-form for sign-up */

.sign-up {
    max-width: 300px; 
    margin: 0 10rem; 
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: left; 
}

.signup-labels {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 15px;
    display: block; 
    text-align: left; 
    margin-bottom: 5px; 
    margin-top: 5px;
}

.confirmation-message {
    font-family: "Helvetica Neue";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    letter-spacing: .1em;
    margin: 0 .2rem;
    padding-bottom: .5rem;
}

form input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px;
}

.submit {
    background-color: rgb(113, 201, 255); 
    color: black; 
    font-size: 15px; 
    font-family: "Helvetica Neue";
    padding: 5px 10px; 
    border-radius: 5px; 
    margin: .5rem auto; 
    text-align: center; 
    line-height: 1.5; 
    width: 108%;
}

/* Dropdown styling */ 
.dropdown-basic{
    text-align: center;
    font-size: 15px; 
    font-family: "Helvetica Neue";
}

.dropdown {
    text-align: center;
    padding-bottom: 30px;
}

.btn-primary {
    border-color: black;
    width: 20%;
  }
  
.dropdown-menu {
    background-color: #f8f9fa; 
    border: 1px solid #ced4da; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
    display: flex;
    flex-direction: column;
  }
  
.dropdown-item {
    font-family: "Helvetica Neue";
    font-size: 16px;
    color: #000; 
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
}
  
  .dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  
/* mood page option selector */

.selector {
    max-width: 300px; 
    margin: 0 10rem; 
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: center; 
}

.selecter-options {
    font-family: "Helvetica Neue";
    letter-spacing: .1em;
    display: block;
    justify-content: center;
    margin: 10px 0;
}

select {
    padding: 5px;
}

span.close.material-icons {
    margin-top: 1rem;
    padding-left: 38rem;
}

span.close.material-icons:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}

/* sign-in and mood page headers */

.subscribe, .select-title {
    font-size: 20px;
    text-align: center; 
    padding-top: 1rem;
    line-height: 1.5;
    letter-spacing: .25em;
}

/* sign-in and mood page notice */

.notice, .select-notice {
    font-family: "Helvetica Neue";
    font-weight: 300;
    text-align: center;
    font-size: 13px;
    letter-spacing: .1em;
    margin: 0 8rem;
    padding-bottom: .5rem;
}

/* imaging styling for review/rate and quiz page */

.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drake-album {
    display: block;
    margin: 1rem auto 0;
    max-width: 100%;
    width: 45%;
    border-radius: 8px;
}

.drake-album2 {
    display: block;
    margin-left: auto;
    margin-right: 5rem;
    max-width: 100%;
    width: 45%;
    border-radius: 8px;
}

.img-caption {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    margin-top: .5rem;
}

.quiz-caption {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    margin-top: 1rem;
}

/* review and rate page icons styling*/

section.image-container span.left,
section.image-container span.right {
    font-size: 40px; 
    padding: 1.5rem;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.16), 0 5px 15px rgba(0, 0, 0, 0.23);
}

section.image-container span.left:hover,
section.image-container span.right:hover { 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.filled {
    font-size: 35px;
    color: gold;
    margin-left: 1rem; 
}

.outlined {
    font-size: 35px;
    color: gray;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.submit-review, .submit-quiz-button, .redo-quiz-button{
    display: block;
    background-color: rgb(113, 201, 255);
    color: black; 
    font-size: 15px; 
    font-family: "Helvetica Neue";
    font-style: italic;
    padding: 5px 10px; 
    border-radius: 5px; 
    margin: 0 auto; 
    text-align: center;
    line-height: 1.5; 
}

/* home and mood page button styling */

.mood-button .button-link, 
.quiz-button .button-link, 
.review-button .button-link {
    color: black;
    text-decoration: none;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    text-shadow: none;
    letter-spacing: normal;
}

.mood-button, .heart-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: absolute;
    left: 220px;
    top: 130px;
}

.merch-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: absolute;
    left: 250px;
    top: 580px;
}

.quiz-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: absolute;
    left: 1200px;
    top: 590px;
}

.review-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: absolute;
    left: 680px;
    top: 500px;
}

.spotify-button {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 20px;
    background-color: #FAF9F6;
    border: 3.5px solid black;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    position: absolute;
    left: 500px;
    top: 350px;
}

.quiz-button:hover, .review-button:hover, .merch-button:hover, .mood-button:hover, .spotify-button:hover{
    background-color: #000;
    color: #FFF;
}

.mood-button:hover .button-link, 
.quiz-button:hover .button-link, 
.review-button:hover .button-link {
    background-color: #000;
    color: #FFF;
}
/* jaydens quiz page container individual styling */
  
.flex-container-quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    font-family: "Helvetica Neue";
    text-shadow: 0.5px 0.5px grey;
    font-size: 18px;
    margin-left: 1rem;
}
  
.flex-container-quiz {
    flex: 0 0 175px;
    background-color: white;
    padding: .2rem;
    margin: .2rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.result-container {
    flex: 0 0 175px;
    background-color: white;
    padding: .5rem .5rem .5rem .5rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23); 
}
    
#check {
    position: absolute;
    display: flex;
    align-items: flex-start;
}
    
#check:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
}
 
.quiz-title, .question-number {
    font-family: "Helvetica Neue";
    font-size: 18px;
    margin-left: 1rem;
    padding-top: 1rem;
    text-shadow: 1px 1px 1px grey;
    letter-spacing: .10em;
    text-align: center;
}

.playlist-result, .result-description {
    justify-content: center;
    padding: 0.5rem;
    text-align: center;
    font-family: "Helvetica Neue";
    text-shadow: 0.5px 0.5px grey;
    font-size: 18px;
  }

.result-image {
    display: block;
    margin: 0 auto;
    margin-right: 5rem;
    max-width: 300%;
    height: auto;
    max-height: 300px;
    margin: 1rem auto 0;
    border-radius: 8px;
  } 

/* mood background example change for eg_mood page */

.nostalgic-background {
	background-image: url("../public/img/bgs/bg-nost.jpg");
	background-size: cover;
    height: 100vh;
}

.party-background {
	background-image: url("../public/img/bgs/bg_party.jpg");
	background-size: cover;
    height: 100vh;
}

.heartbreak-background {
	background-image: url("../public/img/bgs/bg_hb.jpg");
	background-size: cover;
    height: 100vh;
}

.club-background {
	background-image: url("../public/img/bgs/bg_club.jpg");
	background-size: cover;
    height: 100vh;
}

.hyped-background {
	background-image: url("../public/img/bgs/bg_hype.jpg");
	background-size: cover;
    height: 100vh;
}

.combination-background {
	background-image: url("../public/img/bgs/bg_comb.jpg");
	background-size: cover;
    height: 100vh;
}

.submit-button, .close-button {
    display: inline-block;
    background-color: rgb(211, 208, 208); 
    color: black; 
    font-size: 12px; 
    font-family: "Helvetica Neue";
    padding: 3px 10px; 
    border-radius: 5px; 
    margin: 0 auto; 
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
}

.submit-button {
    margin-right: 10px;
}

.close-button {
    margin-right: 35px;
}

.modal-footer {
    padding-left: 250px;
    padding-bottom: 10px;
}

.button-container {
    text-align: center;
}

.modal-container {
    display: block; 
  }


/* media queries */
/* Small screens (mobile) */

@media screen and (max-width: 767px) {
    /* overall page adjustment */
	body {
        	font-size: 16px;
            background-image: url("../public/img/bgs/bg_default_mobile.jpg");
	}
    
    span.profile.material-icons {
        color: white;
        position: absolute;
        top: 20px; 
        right: 10px; 
        margin: 8px 10px;
        font-size: 25px;
        text-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
    }

    footer {
        text-align: center;
        font-size: 16px;
        margin-top: auto;
        padding: 10px;
    }

    header {
        position: fixed;
        top: 0;
        font-size: 25px;
        width: 70%;
        margin-bottom: 20;
    }

    /* overall container adjustments */
    .review-container, .signin-container, .selector-container, .confirmation-container{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        background-color: #FAF9F6;
        margin: 5rem auto;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.16), 0 5px 15px rgba(0,0,0,0.23);
    }

    /* home and mood page button adjustments */
    .mood-button {
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 8px;
        background-color: #FAF9F6;
        border: 2.5px solid black;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        position: absolute;
        left: 45px;
        top: 260px;
    }

    .merch-button {
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 8px;
        background-color: #FAF9F6;
        border: 2.5px solid black;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        position: absolute;
        left: 43px;
        top: 390px;
    }
    
    .quiz-button {
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 8px;
        background-color: #FAF9F6;
        border: 2.5px solid black;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        position: absolute;
        left: 305px;
        top: 385px;
    }

    .review-button {
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 8px;
        background-color: #FAF9F6;
        border: 2.5px solid black;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        position: absolute;
        left: 170px;
        top: 326px;
    }

    .modal_button {
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 8px;
        background-color: #FAF9F6;
        border: 2.5px solid black;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        position: absolute;
        left: 170px;
        top: 326px;
    }

    .spotify-button {
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 8px;
        background-color: #FAF9F6;
        border: 2.5px solid black;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        border-radius: 16px;
        outline: none;
        position: absolute;
        left: 89px;
        top: 355px;
    }

    .mood-button .button-link, 
    .quiz-button .button-link, 
    .review-button .button-link {
    color: black;
    text-decoration: none;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 8px;
    text-shadow: none;
    letter-spacing: normal;
    }

    /* nav adjustments so it fits each bg */
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .nav-container a {
        text-decoration: none;
        color: white;
        font-size: 10px;
        text-shadow: 2px 2px 2px grey;
        font-family: "Helvetica Neue";
        letter-spacing: .1em;
        padding: .5rem 1rem;
    }
    
    /* mood background mobile example change for eg_mood page */
    .nostalgic-background {
        background-image: url("../public/img/bgs/bg_nost_mobile.jpg");
        background-size: cover;
    }

    .party-background {
        background-image: url("../public/img/bgs/bg_party_mobile.jpg");
        background-size: cover;
        height: 100vh;
    }
    .heartbreak-background {
        background-image: url("../public/img/bgs/bg_hb_mobile.jpg");
        background-size: cover;
        height: 100vh;
    }

    .club-background {
        background-image: url("../public/img/bgs/bg_club_mobile.jpg");
        background-size: cover;
        height: 100vh;
    }

    .hyped-background {
        background-image: url("../public/img/bgs/bg_hype_mobile.jpg");
        background-size: cover;
        height: 100vh;
    }

    .combination-background {
        background-image: url("../public/img/bgs/bg_comb_mobile.jpg");
        background-size: cover;
        height: 100vh;
    }

    /* sign-up page adjustments */
    .sign-up {
        width: 100%;
        text-align: left; 
        margin: 0 .5rem;
    }
    
    .signup-labels {
        font-family: "Helvetica Neue";
        font-weight: 400;
        display: block; 
        text-align: left; 
        margin-bottom: 10px; 
        margin-top: 10px;
    }
    
    form input {
        width: 100%; 
        padding: 10px; 
        margin-bottom: 15px;
    }
    
    
    .notice, .select-notice {
        font-family: "Helvetica Neue";
        font-weight: 300;
        text-align: center;
        font-size: 13px;
        letter-spacing: .1em;
        margin: 0 .2rem;
        padding-bottom: .5rem;
    }

    .subscribe, .select-title {
        font-size: 18px;
        text-align: center; 
        padding-top: 1rem;
        line-height: 1.5;
        letter-spacing: .25em;
    }

    .confirmation-message {
        font-family: "Helvetica Neue";
        font-weight: 300;
        text-align: center;
        font-size: 13px;
        letter-spacing: .1em;
        margin: 0 .2rem;
        padding-bottom: .5rem;
    }

    /* review and rate page inner containers adjustments */
    .review-input, .rate-input {
        display: block;
        flex: 0 0 30px;
        background-color: #eee;
        margin: .5rem;
        padding-bottom: .5rem;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);

    }

    /* mood page option selector adjustments */
    .selector {
        max-width: 100%; 
        margin: 0; 
        padding-top: .5rem;
        padding-bottom: 1rem;
        text-align: center; 
    }

    /* user input field for review adjustments */
    textarea#review-text.form-control {
        resize: none; 
        outline: none;
        border: 1px solid white;
        border-radius: 10px;
        max-width: 100%;
    }

    /* quiz page mobile adjusments */
    .drake-album2 {
        display: block;
        margin-left: auto;
        margin-right: .1rem;
        max-width: 100%;
        width: 45%;
        border-radius: 8px;
    }
    
    .flex-container-quiz>div {
        font-size: 14px;
        flex: 0 0 90px;
        background-color: white;
        padding: .1rem;
        margin: .2rem;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    }
    
    .quiz-title, .question-number {
        font-family: "Helvetica Neue";
        font-size: 15px;
        margin: .5rem;
        padding-top: .5rem;
        text-shadow: 1px 1px 1px grey;
        letter-spacing: .10em;
        text-align: center;
    }


    .submit-button {
        margin-right: 5px;
    }

    .close-button {
        margin-right: 5px;
    }

}

/* Medium screens (tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	body {
        	font-size: 18px;
	}
	.header {
        	font-size: 28px;
    	}
}

/* Large screens (desktops) */
@media screen and (min-width: 1024px) {
	body {
		font-size: 20px;
	}
       .header {
        	font-size: 32px;
    	}
}

