body {
    background-color: #b0e0e6;
}

header {
    font-family: "Didot";
    text-align: center;
    padding-top: 1rem;
}

#problem-description {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    line-height: 1.5;
    font-family: "Helvetica neue";
}

#references {
    padding-right: 10rem;
    padding-left: 10rem;
    line-height: 1.5;
    font-family: "Helvetica neue";
}